<!DOCTYPE html>
<html>
	<head>
		<title>CB Moate</title>
		<meta name="keywords" content="Developer, Web Design, Personal, New Jersey, New York City">
		<meta name="Author"  content="CB Moate">
		<!--Bootstrap css-->
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
		<!--Page CSS-->
		<link rel="stylesheet" type="text/css" href="css/portStyle.css">
		<!--Sumana font-->
		<link href='https://fonts.googleapis.com/css?family=Sumana&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-2">
					<ul class="nav nav-pills">
					<li role= "presentation" class="active"><a href="">Contact</a></li>
					<li role= "presentation"><a href="blog.html">Blog</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class ="container">
			<div class = "row">
				<div class="col-md-4 col-md-offset-1">
					<div class="Intro">
						<h1>I'm CB Moate and I'm a developer on the Jersey Shore.</h1>
					</div><br />
					<div class="col-md-1 col-md-offset-3">
					<img src="images/Coke.jpg">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-md-offset-">
					<h2>Career Objectives</h2>
						<div class=>
						<p>My goal is to provide people with the highest caliber products possible while having a little fun along the way.  I seek to be someone who's designs you can enjoy and whom you can enjoy working with.</p>
						</div>
					<h2>Career History</h2>
						<p>I've spent the last 12 years working in restaurants and kitchens.  I've done everything from washing dishes to help act as part of the opening management team to brand new restaurants.  That was pretty cool, but I couldn't help feeling like I had just made a mistake when I was 18 and stuck with it for over a decade.  So after a seasonal layoff I decided to change tracks and get see if I could hack it as a developer.</p>
					<h2>Education</h2>
						<p>School of hard knocks.  Also Brookdale Culinary Education Center and Rutgers Univeristy</p>
				</div>
				<div class="col-md-3">
					<h2>Skills/Languages</h2>
					<p>The vast majority of my past work experience has been in managerial/supervisor roles.  Team building, training, project/event management, and group work are some of my favorite things.</p>
					<p>I am currently developing a working understanding of the following:
						<ul>
							<li>HTML</li>
							<li>CSS</li>
							<li>Javascript</li>
							<li>Python</li>
						</ul>
					</p>
					<h2>Notable Accomplisments</h2>
					<p>I once got IP banned from /b/.  I also made this website.</p>
					<h2>Hobbies and Interests</h2>
					<p>When I'm not stuck at a computer or banging my head against a wall I'm usually at the kitchen table playing games (Magic: the Gathering and Fluxx are my favorites) or standing around in the craft beer section of the liquor store trying to figure out what barrel-aged imperial chocolate porter I'm going to try next.  That, or watching QVC with my wife.</p>
				</div>
				<div class="col-md-4">
					<h2>Current Projects</h2>
						<div class="row">
			      <div class="col-md-5">
			        <div class="list-group"></div>
			      </div>
			      <div class="col-md-7">
			        <table class="table">
			          <thead>
			            <th>Author</th>
			            <th>Message</th>
			            <th>Date</th>
			          </thead>
			          <tbody class = "list-group"></tbody>
			        </table>
			      </div>
			    </div>
				</div>
			</div>
		</div>
	<!--JQuery-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
	<!--Bootstrap JS-->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<!--github listing JS-->
	<script type="text/javascript" src="js/github.js"></script>

	</body>
</html>