<!DOCTYPE html>
<html>

<head>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <meta name="viewport">

  <link rel="stylesheet" type="text/css" href="anon.css">
  <title>Them Rulez</title>

</head>

<body>
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#exampleNavbarCollapse">
        <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </div>
        <div class="collapse navbar-collapse" id="exampleNavbarCollapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="clickFace.html">Play</a></li>
          <li class="active"><a href="rules.html">Rules</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container"> 
    <div class="row">
      <div class="col-md-6 col-md-offset-2">
        <div class="rules">
        <p div style="text-align: center;">The rules are simple:
          <ul>
            <li>Once the Start button is clicked, you have 20 seconds to try and click as many faces as possible.</li>
            <li>Each face only counts once.</li>
            <li>If you click all 20 faces before the time is up, you'll get a special message from the Anonymous Commander</li>
          </ul>
          And that's it!  Click all faces.  Much luck.  Have great success!
        </p>
      </div>
    </div>
  </div>

</body>
</html>