
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  #main {
    flex: 1 0 auto;
  }

  #logo{
  	width:  75px;
  	height: 50px; 
  }

  .pitch, .page-footer, .navbar-fixed {
    font-family: 'Acme', sans-serif;
  }

  .portfolioPic{
    width: 100%;
    height: 100%;
  }

  .everyOther{
    background-color: black;
  }