img{
  width: 100px; 
  height: 100px;
}

[data-choice=Rock]{
  width: 120px;
  height: 120px;
  margin-right: 5px;
}

[data-choice=Paper], [data-choice=Scissors]{
  margin-top: 10px;
  margin-right: 25px;
}

.modal-title {
  text-align: center;
}
