<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper black">
      <a href="/" class="brand-logo"><img id="logo" src="images/miniLogo.jpg"></a>
      <a href="#" data-activates="mobile-demo" class="right-align button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/blog">Blog</a></li>
        <li><a href="/games">Games</a></li>
        <li><a href="/projects">Live Projects</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/blog">Blog</a></li>
        <li><a href="/games">Games</a></li>
        <li><a href="/projects">Live Projects</a></li>
      </ul>
    </div>
  </nav>
</div>
<br/>