<body>
    <div class="">
      <main>
        <h1>This is the Blog.  It's where I write how I'm feeling about coding, problems that I'm having, and whatever else is currently happening.</h1>
      </main>
    </div>
    <div class="">
      <div class="">
        <article>
          <h3>Welcome to the Machine</h3><!--10/28/2015.  get dates-->
            <p>So today We (that being the coding boot camp that I'm in) are making our blogs and portfolios.  So in the 2 days we've had class, I've been stuck with 2 people who seem very specificially to have a firm grasp of HTML.  It's a little terrifying.  My head hurts, my eyes hurt, I'm scared and I feel alone.  To the best of my understanding, that's what's supposed to happen...
            </p>
        </article>
        <article>
          <h3>Don't wash out</h3><!--11/2/2015.  get dates in here-->
            <p>So we're onto week two.  Saturday was our first joint class, and the first time I didn't feel alone in my confusion.  So that was good.
            </p>
            <p>I still feel like I have little to no clue what I'm actually doing.  Part of that is how <i>completely</i> different this is from what I used to do for a living.  Part of it is just coding in general.  I'm impatiently awaiting the point where I don't feel like I completely suck at all this stuff.  If I can just get to "I don't suck at this" levels, I should be able to keep working at this stuff.
            </p>
        </article>
      </div>
    </div>
  </body>