<!--rules-->
<div class="container"> 
    <div class="row">
      <div class="col-md-6 col-md-offset-2">
        <div class="rules">
        <p div style="text-align: center;">The rules are simple:
          <ul>
            <li>Once the Start button is clicked, you have 20 seconds to try and click as many faces as possible.</li>
            <li>Each face only counts once.</li>
            <li>If you click all 20 faces before the time is up, you'll get a special message from the Anonymous Commander</li>
          </ul>
          And that's it!  Click all faces.  Much luck.  Have great success!
        </p>
      </div>
    </div>
</div>
<!--game-->
<div class="container">     
<div class="col-lg-12">
  <div class="row" div style="text-align: center;">
    <h1 class="page-header">Faces!</h1>
  </div>
  <div class="row">
    <div class="col-lg-2 col-lg-offset-1 col-md-4 col-xs-6">
      <img class="img-responsive" src="public/images/anon1.jpg" onclick="countup(); this.onclick=null">
    </div>
    <div class="col-lg-2 col-md-4 col-xs-6">
      <img class="img-responsive" src="public/images/anon2.jpg" onclick="countup(); this.onclick=null">
    </div>
    <div class="col-lg-2 col-md-4 col-xs-6">
      <img class="img-responsive" src="public/images/anon3.jpg" onclick="countup(); this.onclick=null">
    </div>
    <div class="col-lg-2 col-md-4 col-xs-6">
      <img class="img-responsive" src="public/images/anon4.jpg" onclick="countup(); this.onclick=null">
    </div>
    <div class="col-lg-2 col-md-4 col-xs-6 ">
      <img class="img-responsive" src="public/images/anon5.jpg" onclick="countup(); this.onclick=null">
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-lg-2 col-lg-offset-1 col-md-4 col-xs-6 ">
      <img class="img-responsive" src="public/images/anon6.jpg" onclick="countup(); this.onclick=null">
    </div>
    <div class="col-lg-2 col-md-4 col-xs-6 ">
      <img class="img-responsive" src="public/images/anon7.jpg" onclick="countup(); this.onclick=null">
    </div>
    <div class="col-lg-2 col-md-4 col-xs-6 ">
        <img class="img-responsive" src="public/images/anon8.jpg" onclick="countup(); this.onclick=null">
    </div>
    <div class="col-lg-2 col-md-4 col-xs-6 ">
        <img class="img-responsive" src="public/images/anon9.jpg" onclick="countup(); this.onclick=null">
    </div>
    <div class="col-lg-2 col-md-4 col-xs-6 ">
        <img class="img-responsive" src="public/images/anon10.jpg" onclick="countup(); this.onclick=null">
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-lg-2 col-lg-offset-1 col-md-4 col-xs-6">
      <img class="img-responsive" src="public/images/anon11.jpg" onclick="countup(); this.onclick=null">
    </div>
    <div class="col-lg-2 col-md-4 col-xs-6">
      <img class="img-responsive" src="public/images/anon12.jpg" onclick="countup(); this.onclick=null">
    </div>
    <div class="col-lg-2 col-md-4 col-xs-6">
        <img class="img-responsive" src="public/images/anon13.jpg" onclick="countup(); this.onclick=null">
    </div>
    <div class="col-lg-2 col-md-4 col-xs-6">
        <img class="img-responsive" src="public/images/anon14.jpg" onclick="countup(); this.onclick=null">
    </div>
    <div class="col-lg-2 col-md-4 col-xs-6 ">
        <img class="img-responsive" src="public/images/anon15.jpg" onclick="countup(); this.onclick=null" >
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-lg-2 col-lg-offset-1 col-md-4 col-xs-6">
        <img class="img-responsive" src="/public/images/anon16.jpg" onclick="countup(); this.onclick=null">
    </div>
    <div class="col-lg-2 col-md-4 col-xs-6">
        <img class="img-responsive" src="/public/images/anon17.jpg" onclick="countup(); this.onclick=null">
    </div>
    <div class="col-lg-2 col-md-4 col-xs-6">
        <img class="img-responsive" src="/public/images/anon18.jpg" onclick="countup(); this.onclick=null">
    </div>
    <div class="col-lg-2 col-md-4 col-xs-6">
        <img class="img-responsive" src="/public/images/anon19.jpg" onclick="countup(); this.onclick=null">
    </div>
    <div class="col-lg-2 col-md-4 col-xs-6">
        <img class="img-responsive" src="/public/images/anon20.jpg" onclick="countup(); this.onclick=null">
    </div>
  </div>
</div>
</div>