<div class="container">
  <div class="row">
    <div  class="col s10 offset-s1">      
        <a href="https://fierce-beyond-15806.herokuapp.com/" target="_blank"><img class="portfolioPic" src="/images/chaser.jpg"></a>
        <h4>This was a project I was a part while I was at the Rutgers Bootcamp.  The purpose was to help users find limited realease and seasonal beers and keep track of their release dates.  We used the breweryDB API to help build this basic proof of concept version. </h4>      
    </div> 
  </div>
  <div class="row">
    <div class="col s10 offset-s1">
      <div class=>
        <a href="https://splashd.herokuapp.com/" target="_blank"><img class="portfolioPic" src="/images/splashd.jpg"></a>        
      </div>
      <div>
        <h4>Splash'd was an app attempting to solve a very common problem:  the need to find a bathroom.  We used an open source mapping API to find locations that would likely have public restrooms available, and then populated the map with those locations for the user.</h4>
      </div>
    </div>
  </div>
</div>