<div class="container">
  <div class="row">
    <div class="card col s8 offset-s2">
      <div class="">
        <img class="portfolioPic" src="/images/chaser.jpg">
      </div>
      <div>
        <p>This was a project I was a part while I was at the Rutgers Bootcamp.  The purpose was to help users find and track limited realease and seasonal beers.  We used  </p>
      </div>
    </div> 
  </div>
  <div class="row">
    <div class="card">
      <div>
        <img class="portfolioPic" src="/images/splashd.jpg">
      </div>
      <div>
        <p>Splash'd was an app attempting to solve a very common problem:  the need to find a bathroom.  We used </p>
      </div>
    </div>
  </div>
</div>