<div class="container">
  <div class="row">
    <div  class="col s6">      
      <img class="portfolioPic" src="/images/chaser.jpg">
      <div>
        <h5>This is Chaser, a project I was a part of while I was at the Rutgers Bootcamp.  The goal is to help users find limited release and seasonal beers and keep track of their release dates.  We used the breweryDB API to help build this basic proof of concept version.  The project is was built using paid API access which has since lapsed, but feel free to look over our code on Github
        </h5>
        <h6>Technologies used:
          </h6>
          <ul>
            <li>JavaScript</li>
            <li>MongoDB</li>
            <li>Angular.js</li>
            <li>Express.js</li>
            <li>Node.js</li>
          </ul>
        <div class="col s6">
            <a class="black-text bold text-lighten-3" href="https://github.com/Cbmoate/Chaser" target="_blank"><b>Github Repo</b></a>
        </div>
        <div class="col s6">
          <!--<a class="black-text bold text-lighten-3" href="https://beerchasers.herokuapp.com/"><b> Deployed Site</b></a>-->
        </div>
      </div>
    </div> 
    <div class="col s6">
      <a href="https://splashd.herokuapp.com/" target="_blank"><img class="portfolioPic" src="/images/splashd.jpg"></a>
      <div>
        <h5>Splash'd is an app attempting to solve a very common problem:  The need to find a bathroom!  We used Wikimapia to find locations (Like hotels, restaurants, and public libraries) that would likely have public restrooms available, and then populated the map with those locations for the user.
        </h5>
        <h6>Technologies used:
        </h6>
        <ul>
          <li>Firebase</li>
          <li>JavaScript</li>
          <li>jQuery</li>
          <li>Bootstrap</li>
        </ul>
        <div class="col s6">
          <a class="black-text strong text-lighten-3" href="https://github.com/Cbmoate/Splashd" target="_blank"><b>Github Repo</b></a>
        </div>
        <div class="col s6">
          <a class="black-text strong text-lighten-3" href="https://splashd.herokuapp.com/"><b>Deployed Site</b></a>
        </div>
      </div>
    </div>
  </div>
</div>